body {
    background-color: burlywood;
}
#characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}